#formcss{
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
font-weight: bold;
 
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  padding-left: 5px;
}
.mytable{
  width:21.5cm;
  margin:auto;
  font-family:  'Calibri';
  font-size: 11pt;
}
#copybutton{
  
}
.mycolumn{
  width:8.5cm;
  font-weight: bold;
}

.top-row{
  height: 1.1cm;
  text-align: center;
  font-size: 18pt;
}
.bottom-row{
    background-color: rgb(172,185,202);
    font-weight: bold;
  
}
.my-row{
  height:0.88cm;
  text-align: initial;
}
#initial{
  background-color: rgb(217,217,217);
}
#update{
  background-color: rgb(255,230,153);
}
#restoration{
  background-color: rgb(146,208,80);
}